/*----------------------------
            COLOR
 ----------------------------*/

$color_light_black: #aaaaaa;

$color_black: #000000;

$color_medium_black: #666666;

$color_dark_black: #3f3f3f;

$color_light_white: #c9c4c3;

$color_white: #ffffff;

$color_medium_white: #f9f9f9;

$color_dark_white: #f6f6f6;

$color_border: #e1e2e4;

$color_orange: #f6c016;

$color_light_orange: #ffce55;

$color_dark_orange: #ffc000;

$color_blue : #2abfd4;

$color_dark_blue: #40a0d2;

$color_medium_blue: #007791;

$color_red: #ec5252;

$color_purple: #6149ac;
