* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    color: white;
}

.container {
    padding: 0;
}

.wrapper {
    position: relative;
    background: white;
    margin-bottom: 556.32px;
    overflow: hidden;
}

ul {
    list-style: none;
}