.breadcrumb {
    background: url("/img/breadcrumb.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 177px;
    margin-bottom: 3%;
    h1 {
        font-weight: bold;
        margin-top: 2.5%;
    }
    h6 {
        font-weight: bold;
    }
}