.stat {
    margin-bottom: 3%;
    .stat__item{
        padding: 3.5% 0;
        text-align: center;
        h6 {
            font-weight: bold;
        }
        span {
            font-size: 3rem;
        }
        div {
            font-weight: bold;
            font-size: 1.2rem;

        }
    }
}